<section id='todos'>
<header>
  <h2>Editing '<%= h(@name) %>'</h2>
  <ul>
   <li> 
    <form class='delete' action="/lists/<%= h(@name) %>/destroy" method='post'>
      <button class='delete' type='submit'>Delete List</button>
    </form>
   </li>
  </ul>
</header>
</section>

<form action="/lists/<%= h(@name) %>/edit" method='post'>
  <dl>
    <dt>
      <label for='new_name'>Enter the new name for your list:</label>
    </dt>
    <dd>
      <input name='new_name' placeholder="List Name" type='text' value=<%= h(params[:new_name] || @name) %>>
    </dd>
  </dl>
  <fieldset class='actions'>
    <input type='submit' value="Save">
    <a href='/lists/<%= h(@name) %>'> Cancel</a>
  </fieldset>
</form>

<% content_for :header_links do %>
  <a class='list' href="/lists">All Lists</a>
<% end %>


      