
<ul id='lists'>
  <% @lists.each do |list| %>
    <li class=<%= css_classes(list) %>>
      <a href='/lists/<%= h(list[:id]) %>'>
        <h2><%= h(list[:name]) %></h2>
        <p><%= count_completed(list[:todos]) %>/<%= list[:todos].size %></p>
      </a>
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a class='add' href="/lists/new">New List</a>
<% end %>
