<section id='todos' class=<%= css_classes(@list) %>>
  <header>
    <h2>
      <%=h(@name) %>
    </h2>
    <ul>
    <% if has_tasks?(@list) && !all_complete?(@list[:todos]) %>
      <li>
        <form action='/lists/<%= h(@name) %>/complete_all' method='post'>
          <button class='check' type='submit'>Complete All</button> 
        </form>
      </li>
    <% end %>
   
      <li>
       <a class='edit' href='/lists/<%= h(@name) %>/edit'>
       Edit List</a>
      </li>
    </ul>
  </header>

  <ul>
    <% todo_sort(@list[:todos]) do |todo, idx| %>
    <li class=<%= todo[:completed] ? "complete" : "" %>>
      <form class='check' action='/lists/<%= h(@name) %>/todos/<%= h(idx) %>' method='post'>
        <input type='hidden' name='completed' value=<%= !todo[:completed] %>>
        <button type="submit">Complete</button>
      </form>
      <h3><%= h(todo[:list_item]) %></h3>
      <form class='delete' action='/lists/<%= h(@name) %>/todos/<%= h(idx) %>/destroy' method='post'>
        <button type='submit'>Delete</button>
      </form>
    </li>
    <% end %>
  </ul>
</section>


<form action="/lists/<%= h(@name) %>" method='post'>
  <dl>
    <dt>
      <label for='list_item'>Enter new list item:</label>
    </dt>
    <dd>
      <input name='list_item' placeholder="List Name" type='text' value=''>
    </dd>
  </dl>
  <fieldset class='actions'>
    <input type='submit' value="Add">
  </fieldset>
</form>

<% content_for :header_links do %>
  <a class='list' href="/lists">All Lists</a>
<% end %>
